<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="patitas/layout::head">
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<nav th:replace="patitas/layout::menu"></nav>
	<div class="card">
		<div class="card-header">Integrantes</div>
		<div class="card-body">
			<h5 class="card-title">Quintana Muñoz, Luis Fernando</h5>
			<h5 class="card-title">Timana Arraiza, Ciro Junior</h5>
			<h5 class="card-title">Vásquez Aguirre, Inés Xiomara</h5>
			<h5 class="card-title">Zárate Urrutia, Henri Yeferson</h5>
		</div>
	</div>
</body>
</html>