<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="patitas/layout::head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav th:replace="patitas/layout::menu"></nav>
	<br>
	<div class="card">
		<div class="card-header bg-dark text-white text-center">Mantenimiento
			y registro de citas</div>
		<div class="card-body">

			<button type="button" class="btn btn-success" id="btngenerarCita">Registrar
				cita</button>
			<button type="button" class="btn btn-success" id="btnListar">Listar
				Citas</button>
			<hr />
			
			<table class="table" id="tblcita">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Cliente</th>
						<th scope="col">Mascota</th>
						<th scope="col">Veterinario</th>
						<th scope="col">Recepcionista</th>
						<th scope="col">FechaRegistro</th>
						<th scope="col">FechaAtencion</th>
						<th scope="col">Pendiente</th>
						<th scope="col">Actualizar</th>
						<th scope="col">Eliminar</th>

					</tr>
				</thead>
				<tbody>


				</tbody>
			</table>
		</div>
	</div>

	<!-- Modal Agregar cita -->
	<div class="modal fade" id="modalcita" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="txtregistrar">Registrar nueva cita</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">

					<label for="txtcliente" class="form-label">Cliente</label>
					<div class="input-group mb-3">
						<input type="text" class="form-control" id="txtcliente"
							>
						<input type="hidden" id="idCliente">
						<button class="btn btn-outline-secondary" type="button"
							id="btnBuscarCliente">Buscar</button>
						
					</div>
					<span id="errCliente" class="text-danger"></span>
					<div id="mensaje"></div>

					<div class="mb-3">
						<label for="txtmascota" class="form-label">Mascota</label>
						<div class="col-sm-8">
							<select class="form-control" id="cboMascota" name="txtmascota"
								required>
								<option value="">Seleccione la mascota</option>
							</select>
						</div>
						<span id="errormascota" class="text-danger"></span>
					</div>

					<div class="mb-3">
						<label for="txtVet" class="form-label">Veterinario</label>
						<div class="col-sm-8">
							<select class="form-control" id="cboVet" name="txtVet"
								required>
								<option value="0">Seleccione el veterinario</option>
								
							</select>
						</div>
						<br>

						<span id="errVet" class="text-danger"></span>

						<div id="msgVet"></div>
					</div>

					<div class="mb-3">
						<label for="txtrecepcionista" class="form-label">Recepcionista</label>
						<input type="text" class="form-control" id="txtrecepcionista"  placeholder="Andrea" readonly>
						<span id="errorrecepcionista" class="text-danger"></span>
					</div>


					<div class="mb-3">
						<label for="txtfechaatencion" class="form-label">Fecha de
							Atencion</label> <input type="datetime-local" class="form-control"

							id="txtfechaatencion"> <span id="errorfechaatencion"
							class="text-danger"></span>
					</div>


					<input type="hidden" id="hddidcita">


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary" id="btnregistrarcita">Guardar</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal Eliminar Cita -->
	<div class="modal fade" id="modaleliminarcita" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Eliminar Cita</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<label id="mensajeeliminar"></label> <input type="hidden"
						id="hddidcitaeliminar">


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-danger" id="btneliminarcita">Eliminar</button>
				</div>
			</div>
		</div>
	</div>

	<script src="/js/jquery/jquery-3.6.0.min.js" type="text/javascript"></script>
	<script src="/js/jsweb/Cita/citaScript.js" type="text/javascript"></script>

</body>
</html>